/vendor/
/node_modules/
.env
.env.backup
.env.production
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/public/storage
.phpunit.result.cache
/.phpunit.cache/
/.php-version
*.sqlite
